.boton-footer {
    border-radius: 200px;
    
}

.portada-contacto{
    background-image: url(../img/QLNSCUL7PZIBGS27B4XQPOQ4EU.jpg);
    background-position: center;
    background-size: cover;
}

.btn-cuestionario{
    background-color:azure;
    color: rgba(0, 0, 255, 0.603);
    border-radius: 25px;
    border-color: rgba(0, 0, 255, 0.603);
    transition: 0,15s ease-in;
}

.btn-cuestionario:hover{
    background-color:rgba(0, 0, 255, 0.603);
    color: azure;
    border:solid azure;
    border-color: azure;
}